@use "@angular/material" as mat;
@import "../styles";

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  color: mat.get-color-from-palette($secondary-palette, 100);
  background-color: mat.get-color-from-palette($secondary-palette, 900);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;

  .home-link {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;

    .material-symbols-outlined {
      color: mat.get-color-from-palette($secondary-palette, 100);
      font-size: 3rem;
    }
  }
}
