@use "@angular/material" as mat;
@import "../styles";

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  color: mat.get-color-from-palette($secondary-palette, 100);
  background-color: mat.get-color-from-palette($secondary-palette, 900);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;

  .home-link {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;

    .material-symbols-outlined {
      color: mat.get-color-from-palette($secondary-palette, 100);
      font-size: 3rem;
    }
  }

  .repo-link {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    text-decoration: none;
    color: mat.get-color-from-palette($secondary-palette, 300);
    font-size: 1.4rem;
    transition: transform 250ms ease-in-out, color 250ms ease-in-out;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
      color: mat.get-color-from-palette($secondary-palette, 100);
    }
  }
}
