@use "@angular/material" as mat;
@import "../../styles.scss";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: mat.get-color-from-palette($secondary-palette, 100);
    border: none;
    padding: 0.25rem .75rem;
    margin: 0;
    transition: background-color 250ms ease-in-out;

    &:first-of-type {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      padding-left: 1rem;

      &:not(:last-of-type) {
        border-right: 1px solid
          mat.get-color-from-palette($secondary-palette, 500);
      }
    }

    &:last-of-type {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding-right: 1rem;
    }

    &:hover {
      background-color: mat.get-color-from-palette($secondary-palette, 700);
    }
  }
}
